/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
  padding: 0px;
  margin: 0px;
}
.header{
  width: 100%;
  height: 50px;
  display: flex;
  
}

#toggle{
  display: none;
}
#label_toggle{
  position: absolute;
  top: 18px;
  left: 1110px;
  font-size: 1em;
  cursor: pointer;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 5px;
  border-radius: 50%;
  background-color: blue;
}
#label_toggle:hover{
  background-color: skyblue;
  
}
.fa-solid.fa-moon{
  color:aqua
}
.fa-solid.fa-moon:hover{
  color:white;
}

.osc{
  background-color: rgb(4, 1, 37);
  color: white;
  transition: all 1.5s ease;
}